.Home_nav {
  padding: 25px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Home_nav-list {
  display: flex;
}

.Home_section {
  height: 100vh;
  width: 100vw;
  background-color: #191a1a;
}

.Home_main-section {
}

.Home_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 60px;
}

.Home_buttons {
  display: flex;
  flex-direction: row;
}

.Home_buttons div {
  width: 160px;
}

.Home_buttons div:last-child {
  margin-left: 20px;
}

.Home_content {
  display: flex;
  flex-direction: row;

  padding: 0px 60px;
}

.Home_main-text {
  max-width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Home_image {
}

.Home_h1 {
  font-family: Vanguard;
  font-size: 120px;
  color: #00e88f;
  font-weight: bold;
  font-size: 120px;
  line-height: 90%;
  text-transform: uppercase;
}

.Home_h2 {
  width: 382px;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}
