.App {
  text-align: center;
}

.Home_section {
  height: 100vh;
  width: 100vw;
}

.Home_main-section {
  background-color: #000;
}

.Home_content {
  display: flex;
  flex-direction: row;
}

.Home_h1 {
  color: #FFF;
  width: 60vw;
}

.Home_h2 {
  color: #FFF;
}