.Button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 25px;
  border-radius: 56px;
  border-style: solid;

  cursor: pointer;
}

.Button_container p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: -0.8px;

  color: #111111;
}
