.SocialProof_container {
  display: flex;
  flex-direction: column;

  background-color: #191a1a;

  width: 100%;
}

.SocialProof_title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -1.6px;
  color: #ffffff;

  margin-bottom: 56px;
}

.SocialProof_testimonials {
  display: flex;
  justify-content: center;
}

.SocialProof_testimonials .Testimonials-card_container {
  margin-right: 60px;
}

.SocialProof_testimonials .Testimonials-card_container:last-child {
  margin-right: 0;
}

.SocialProof_companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
}

.SocialProof_companies p {
  width: 686px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  margin: 30px 0;
}

.SocialProof_companiesList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 1160px;
}
