.Login_container {
  max-width: 1280px;
  margin: auto;
}

.Login_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login_error-message {
  color: #ef5350;
  padding-bottom: 24px;
}

.Login_content input {
  margin-bottom: 20px;
}

.Login_content svg {
  margin-bottom: 32px;
}

.Login_content .Button_container {
  width: 355px;
}


