.Loading_overlay-content {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
}

.Loading_overlay-content .Loading_wrapper {
  display: inherit;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* react-spinkit */

.sk-spinner.circle > div:nth-child(n+3):nth-child(-n+5) {
  color: white;
  z-index: -1;
}