.Sponsor_h2 {
  padding: 40px 40px 10px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2.4px;

  color: #111111;
}

.Sponsor_p {
  padding: 20px 40px 10px 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.8px;

  color: #666666;
}

.Sponsor_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.Sponsor_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  padding-top: 30px;
}

.Sponsor_inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 30px 40px;
}

.Sponsor_textarea-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 30px 40px;
}

.Sponsor_textarea {
  padding: 5px;
  outline: none;
}

.Sponsor_slider-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sponsor_slider {
  margin-top: 150px;
  width: 80%;
}

.Sponsor_slider-label {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.8px;
  color: #666666;
  position: absolute;
  right: 10%;
}

.Sponsor_dropdown {
  padding: 30px 40px;
}

.Sponsor_buttons {
  display: flex;
  flex-direction: row;
}

.Sponsor_buttons div {
  width: 160px;
}

.Sponsor_buttons div:last-child {
  margin-left: 20px;
}

.Sponsor_container .RegisterBox_container {
  margin-top: 30px;
}

.Sponsor_modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

.Sponsor_modal-text {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.6px;
  color: #666666;
}

.Sponsor_modal-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -1.2px;
}
