.Testimonials_container .slick-list {
  padding: 20px;
  padding-left: 46px;
}

.Testimonials_container .slick-slide.slick-active {
  width: 380px !important;
}

.Testimonials_container .slick-arrow {
  display: none !important;
}